.section3 {
  position: relative;
  height: 200vh;
  background-size: cover;
  background-attachment: fixed;
}

.section3 .projectText {
  margin-right: 40px;
  color: rgba(161, 161, 161, 0.5);
  text-align: right;
}
.section3 .projectText .textTrans {
  font-size: 95px;
}

@media only screen and (max-width: 500px) {
  .section3 .projectText .textTrans {
    font-size: 50px;
  }
  .section3 {
    height: 85vh;
  }
}
