.navbarCust {
  background-color: transparent;
  align-items: flex-end;
  transition: all 0.5s;
}

.navbarCust a {
  color: white !important;
  margin-left: 20px;
}

.navText {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: white !important;
  margin-left: 20px;
  cursor: none;
}
