@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

.title {
  font-size: 6rem;
  text-align: center;
  padding-top: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background: -webkit-linear-gradient(#ffffff, #3ad4f8);
  background: linear-gradient(#ffffff, #3ad4f8);
  background-clip: text;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
}

.TimelineClass {
  background-size: cover !important;
  background-attachment: fixed !important;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .TimelineClass {
    background-position: center !important;
  }

  .title {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .TimelineClass {
    background-position: center;
  }

  .title {
    font-size: 5rem;
  }
}
