.footer {
  margin-top: 50px;
}

.social {
  text-align: center;
  font-size: 2.5em;
  color: #555;
  overflow: hidden;
  margin-top: 4em;
  margin-bottom: 5em;
  color: rgba(217, 217, 217, 0.911);
}
.social a {
  color: inherit;
  text-decoration: none;
}
.social i {
  margin: 0.3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
.coffee {
  animation: animatedText1 1s infinite;
}
.social i:hover {
  margin-top: -10px;
  size: 30px;
}
.social i#twitter:hover {
  color: #ed780e;
}
.social i#github:hover {
  color: #ed780e;
}
.social i#linkedin:hover {
  color: #ed780e;
}
.social i#code:hover {
  color: #ed780e;
}
.social i#stack:hover {
  color: #ed780e;
}
.social i#plus:hover {
  color: #ed780e;
}
.social i#mail:hover {
  color: #f7b401;
}

.footer .textTrans {
  font-size: 95px;
}

@media only screen and (max-width: 500px) {
  .footer {
    margin-top: 150vh;
  }
  .footer .textTrans {
    font-size: 50px;
  }

  .social {
    margin-top: 5em;
  }
}
